MYSQL_DATABASE=fail
MYSQL_USERNAME=fail
MYSQL_PASSWORD=change-this-database-password
MYSQL_ROOT_PASSWORD=change-this-root-password
JWT_SECRET=change-this-jwt-secret-to-at-least-48-characters-long
JWT_ACCESS_TOKEN_VALIDITY_SECONDS=900
JWT_REFRESH_TOKEN_VALIDITY_SECONDS=2592000
JWT_REFRESH_REUSE_GRACE_SECONDS=5
JWT_REFRESH_COOKIE_SECURE=false
SEARCH_FULLTEXT_ENABLED=true
RATE_LIMIT_ENABLED=true
RATE_LIMIT_TRUST_FORWARDED_FOR=false
RATE_LIMIT_MAX_ENTRIES=10000
RATE_LIMIT_LOGIN_LIMIT=5
RATE_LIMIT_LOGIN_WINDOW_SECONDS=60
RATE_LIMIT_SIGNUP_LIMIT=3
RATE_LIMIT_SIGNUP_WINDOW_SECONDS=3600
RATE_LIMIT_REFRESH_LIMIT=10
RATE_LIMIT_REFRESH_WINDOW_SECONDS=60
RATE_LIMIT_REPORT_LIMIT=5
RATE_LIMIT_REPORT_WINDOW_SECONDS=3600
FRONTEND_ORIGINS=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:18080
MYSQL_PORT=13306
BACKEND_PORT=18080
FRONTEND_PORT=3000
SWAGGER_ENABLED=false
